<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.beacon">
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>

    <service android:name=".BeaconService" android:foregroundServiceType="location" />
    <service android:name=".BeaconEventService" />
    <service
      android:name="org.altbeacon.beacon.service.BeaconService"
      android:exported="false"
      android:foregroundServiceType="location"
      tools:node="replace" />

  </application>
</manifest>
